.cat-container {
  display: flex;
  justify-content: stretch;
  gap: 30px;
  margin: 30px 0;
}
.cat-container > * {
  max-width: 340px;
  height: 350px;
}
.cat-container > *:last-child {
  display: none;
}

@media screen and (max-width: 1023px) {
  .cat-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .cat-container > * {
    flex: 1 1 auto;
    height: 250px;
    min-width: 300px;
  }
  .cat-container > *:last-child {
    display: block;
  }
}
